.container-page {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 270px 0 0;
  align-items: center;
}
.container-page__title {
  font: var(--font-button-xl);
  font-feature-settings: var(--font-feature);
  letter-spacing: var(--letter-spacing-m);
  text-align: center;
  max-width: 735px;
  margin: 0;
  padding: 0;
}
