.counter {
  border-radius: var(--border-radius-2xl);
  /* max-height: 80px; */
  width: 7vw;
  background: linear-gradient(to right, #c4e4c2 50%, var(--beige-color) 50%);
  background-repeat: no-repeat;
  transition: background-position 0.4s, color 0.4s;
  background-size: 200%;
  /* background-position: 100%; */
}

.counter_full {
  background: var(--green-color);
  background-position: 100%;
}

.counter__text {
  color: var(--black-color);
  font: var(--font-2xs);
  font-feature-settings: var(--font-feature);
  text-align: center;
  padding: 1.2vw 0;
  margin: 0;
}

.counter__text_full {
  color: var(--white-color);
}
