.header {
  display: grid;
  flex-shrink: 0;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 'logo name userbar';
  width: 100%;
  z-index: 1001;
  padding: 1.7vh 1.3vw;
  box-sizing: border-box;
  font-feature-settings: var(--font-feature);
  align-items: center;
  border-bottom: 0.05vw solid var(--gray-color);
  background-color: var(--white-color);
  position: fixed;
  top: 0;
  left: 0;
}

.header__burger-nav {
  display: flex;
  align-items: center;
  gap: 1.2vw;
  margin: 0 auto 0 0;
  grid-area: logo;
}

.header__logo {
  display: flex;
  gap: 0.6vw;
}

.header__name {
  font: var(--font-button-m);
  font-feature-settings: var(--font-feature);
  margin: 0 auto;
  padding: 0;
  justify-self: center;
  grid-area: name;
}

.header__kebab-nav {
  display: flex;
  align-items: center;
  margin: 0 0 0 auto;
  gap: 0.6vw;
  grid-area: userbar;
}

.header__userbar {
  display: flex;
  align-items: center;
  gap: 1.5vw;
  padding: 0.4vh 0.7vw 0.4vh 1.6vw;
  border: 0.25vw solid var(--yellow-color);
  border-radius: var(--border-radius-m);
  box-sizing: border-box;
}

.header__username {
  margin: 0;
  padding: 0;
  letter-spacing: var(--letter-spacing-s);
  font: var(--font-4xs);
}

.header__efficiency {
  display: flex;
  align-items: center;
  gap: 0.3vw;
  padding: 1vh 1.2vw;
  max-width: fit-content;
  max-height: 3vh;
  border-radius: var(--border-radius-2xl);
  background-color: var(--green-color);
}

.header__efficiency-percentage {
  font: var(--font-button-xs);
  color: var(--white-color);
  text-align: center;
  margin: 0;
  padding: 0;
}
