.package-list-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10.3vh 0 15.5vh;
  /* width: 100vw; */
  width: calc((1112 / 1920) * 100%);
  margin: 0 auto;
  position: relative;
}

.package-list-page__text {
  display: flex;
  max-width: 58vw;
  width: 100%;
  margin: 0 auto;
  padding: 2.6vh 0 0;
  justify-content: space-between;
}

.package-list-page__pack-info {
  display: flex;
  flex-direction: column;
}

.package-list-page__title {
  font: var(--font-button-xl);
  font-feature-settings: var(--font-feature);
  max-width: 30.7vw;
  padding: 0;
  margin: 0;
}

.package-list-page__tags-container {
  display: flex;
  gap: 0.6vw;
  padding: 1.85vh 0 0;
}

.package-list-page__info {
  align-self: flex-end;
}

.package-list-page__cell {
  font: var(--font-2xl);
  font-feature-settings: var(--font-feature);
  text-align: end;
  padding: 0;
  margin: 0;
}

.package-list-page__tags {
  list-style-type: none;
  display: flex;
  gap: 0.6vw;
  padding: 1.5vh 0 0;
  margin: 0;
  justify-content: flex-end;
}
