.scan-badge-page {
  min-height: calc(100vh - 112px * 2 - 28px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 140px 0;
}
.scan-badge-page__title {
  font: var(--font-button-xl);
  font-feature-settings: var(--font-feature);
  letter-spacing: var(--letter-spacing-m);
  max-width: 880px;
  margin: 0;
  padding: 0;
}
